@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans";
    padding: 0px;
    margin: 0px;
    line-height: 1.5em;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(ellipse at bottom, #210630f7 0, #210630f7, black 100%);
    color: white;
}

.contact-button{
  display: block;
  font-size: 20pt;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  border: 2px solid #b026ff;
  background-color: black;
  color: white;
  padding: 5%;
  margin-bottom: 3.5em;
  cursor: pointer;
  transition: all 220ms ease-out;
}

.contact-button:hover{
  display: block;
  font-size: 20pt;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  border: 2px solid #000;
  background-color: #b026ff;
  color: white;
  padding: 5%;
  margin-bottom: 3.5em;
}

.contact-button-small{
  display: block;
  font-size: 18pt;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  border: 2px solid #b026ff;
  background-color: black;
  color: white;
  padding: 3%;

  cursor: pointer;
  transition: all 220ms ease-out;
}

.contact-button-small:hover{
  display: block;
  font-size: 18pt;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  border: 2px solid #000;
  background-color: #b026ff;
  color: white;
  padding: 3%;
}

.thicc-link{
  display: block;
  font-family: "Open Sans";
  color: white;
  text-align: center;
  font-size: 32pt;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 220ms ease-out;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

.getCenter{
  text-align: center;
}

.fadeInRight { animation-name: fadeInRight }
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to { opacity: 1 }
}

.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

main p{
  text-indent: 12px;
}

h2{
  font-weight: 100;
  margin-left: 5%;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 80%;
  padding: 2% 10% 10% 10%;
  margin: 0%;
}

.lil{
  padding: 5%;
}

.column {
  float: left;
  width: 50%;
}

.columnSmall {
  float: left;
  width: 33.33333%;
}

.teamPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .columnSmall {
    width: 100%;
  }

}



main h1 {
  font-weight: 100;
  font-size: 32pt;
  padding: 20px 0px 20px 0px;
  line-height: 1.2em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

main h3 {
  font-weight: 100;
  font-size: 24pt;
  padding: 20px 0px 20px 0px;
  line-height: 1.2em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
    font-weight: 100;
    font-size: 64pt;
    padding: 40px 0px 0px 0px;
    line-height: 1.2em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title2 {
  font-weight: 100;
  font-size: 64pt;
  padding: 40px 0px 0px 0px;
  line-height: 1.2em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.rowimg{
  position: relative;
  width: 100%;
}

.titleTag{
  font-weight: 100;
  font-size: 24pt;
   
    padding: 5px 0px 10px 0px;
    line-height: 1.2em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titleTag2{
  font-weight: 100;
  font-size: 20pt;
   
    padding: 5px 0px 10px 0px;
    line-height: 1.2em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;

}
.video-wrapper {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

.video-wrapper-small {
  width: 60%;
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
}

.headerVid{
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.8);
}

.nav{
  position: relative;
  z-index: 9;
  display: inline-block;
    clear: both;
    float: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    text-align: center;
    opacity: 1;
    background-image: linear-gradient(160deg, #111, #470b68);
    
    
}

.navhelper{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(160deg, #260638, #470b68);
  transition: all 220ms ease-out;
  opacity: 0;
}

.nav:hover .navhelper{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(160deg, #260638, #470b68);
  opacity: 1;
}

.navbar{
  padding-left: 30%;
  padding-right: 30%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  background: none;
  opacity: 1;

}


.logo {
  -webkit-box-ordinal-group: 2;
          order: 1;
  color: #fff;
  width: 20%;
  height: auto;
  padding: 10px;
}

.logo img{
  width: 100%;
  height: auto;
}

.item:nth-of-type(n+3) {
  -webkit-box-ordinal-group: 3;
          order: 2;
}

hr.mainLine{
  border: solid #b026ff;
  margin: 0px;
  padding: 0px;
  border-width: 1px;
}

@media all and (max-width: 800px) {
  .container {
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: stretch;
            align-items: stretch;
  }

  .navbar{
    padding: 0%;
    margin: 0%;
    width: 100%;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
            background: none;
      
  }

  .logo {
    -webkit-box-ordinal-group: 1;
            order: 0;
    text-align: center;
    width: 20%;
    margin: auto auto 20px;
  }

  .item {
    text-align: center;
  }
}



.item{
    font-size: large;
    color: white;
    text-decoration: underline;
    text-decoration-color: transparent;
    padding: 12px;
    transition: all 220ms ease-out;
    background: none;
    
}

.item:hover{
    color: #b026ff;
    text-decoration-color: #b026ff;
    padding: 18px;
    text-decoration: underline;
}


#homephoto{
    clear:both;
    height: 300px;
    background: white url(../media/top.webp) center no-repeat;
}



#aboutphoto{
    clear:both;
    height: 500px;
    background: white url(../media/duet.jpg) center no-repeat;
}

h4{
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    color:#61a6ff;
}

main{
    padding: 0 1.5em 1.5em 1.5em;
    max-width: 55em;
    margin: 0 auto;
}

p a{
    color:#61a6ff;
}

.footer{
    clear: both;
    background-color: #161616;
    
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    color: white;
    
}


.foot{
   
    padding: 1.5em 1.5em 1.5em 1.5em;
    display: block;
    max-width: 50em;
    margin: 0 auto;
    color: white;
    
}

.foot a{
  color: white;
}


.lower_links{
    padding: 1.5em 1.5em 1.5em 1.5em;
    display: block;
    max-width: 50em;
    margin: 0 auto;
}

.lower_links a{
  color: white;
    text-decoration: none;
    transition: color 220ms ease-out;
}

.mail, a:hover{
    color:#b026ff;
}

.mail, a{
  color: white;
    text-decoration: underline;
    transition: color 220ms ease-out;
}

.lower_links a:hover{
    color:#b026ff;
    text-decoration: underline;
}

.calLink{
  color: black;
  text-decoration: none;
  transition: color 220ms ease-out;
}

.calLink:hover{
  color:#f3f3eb;
}

.lower_links ul{
    list-style-type: none;
}

.lower_links .foot_item{
    float: left;
}

.lower_links img{
    padding: 1.5em 1.5em 1.5em 1.5em;
    width: 48px;
    height: 48px;
}

.post_line ul li{
    margin: 1.5em 1.5em 1.5em 1.5em;
}

.float{
    display: inline;
    max-width: 35%;
    float: right;
    vertical-align: top;
    margin: 0.5em 0 0.5em 1.5em;
}

.float img{
    display: block;
    max-width: 100%;
}

.post_line h4{
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    color:#61a6ff;
}

.post_line a p{
    color: black;
    transition: color 220ms ease-out;
}

.post_line a p:hover{

    color: #61a6ff;
}

.date{
    margin: 1.5em 0 0 0;
    color: #777;
}

.post_title{
    margin: 0 0 0 0;
    color:#61a6ff;
    line-height: 1.5em;
}

.green{
    color:#61a6ff;
}

.author{
    margin: 0 0 0 0;
}

.social_links a{
    color: black;
    text-decoration: none;
}

.social_links{
    float: left;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}


.article p{
    line-height: 1.5em;
    clear: both;
    font-size: large;
}

.article h2{
    clear: both;
}

.important{
    clear: both;
    text-align: center;
    color:#61a6ff;
    line-height: 1.5em;
}

.caption{
    color: #777;
    font-size: small;
    margin: 0.2em 0 0 0;
    line-height: 1em;
}

.social_icon{
    font-size: 32px;
    transition: color 220ms ease-out;
}

.social_icon:hover{
    color:#61a6ff;
    cursor: pointer;
}

#notification{
    clear: both;
    color:#61a6ff;
    background-color: #f1f1f1;
    visibility: hidden;
}

.prefoot{
    display: block;
    max-width: 50em;
    margin: 0 auto;
}

#grid-std{
    display: flex;
    flex-wrap: wrap;
}

.post-preview {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1f1;
    transition: background-color 220ms ease-out;
}

.post-preview-img {
    overflow: hidden;
    height: 100%;
}

.post-preview--std .post-preview-img {
    border-radius: 5px 5px 0 0;
}

.img-full {
    width: 100%;
    display: block;
    margin: 0;
}

.post-preview-content {
    padding: 20px;
    
}


#grid-std .blog-grid-item {
    width: 46%;
    margin: 2%;
}

.post-preview p{
    font-size: x-large;
    font-weight: 650;
}

.blog-grid-item a{
    text-decoration: none;
    color: black;
}

.blog-grid-item .post-preview:hover{
    background-color:#DDD;
}


#calendar *, #calendar *:before, #calendar *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    
    #calendar body {
     overflow: hidden;
     font-family: "Ensign:Sans", Arial, "noto sans" , sans-serif;
     font-weight: 100;
     color: rgba(255, 255, 255, 1);
     margin: 0;
     padding: 0;
     background: #ececd4
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
    }
    
    #calendar {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 420px;
      margin: 0 auto;
      height: 570px;
      overflow: hidden;
    }
    
    #calendar .header {
      height: 50px;
      width: 420px;
      background: #ececd4;
      text-align: center;
      position:relative;
      z-index: 100;
    }
    
    #calendar .header h1 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 50px;
      font-weight: 100;
      letter-spacing: 1px;
    }
    
    #calendar .left, .right {
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      top: 50%;
      margin-top: -7.5px;
      cursor: pointer;
    }
    
    #calendar .left {
      border-width: 7.5px 10px 7.5px 0;
      border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
      left: 20px;
    }
    
    #calendar .right {
      border-width: 7.5px 0 7.5px 10px;
      border-color: transparent transparent transparent rgba(160, 159, 160, 1);
      right: 20px;
    }
    
    #calendar .month {
      /*overflow: hidden;*/
      opacity: 0;
    }
    
    #calendar .month.new {
      -webkit-animation: fadeIn 1s ease-out;
      opacity: 1;
    }
    
    #calendar .month.in.next {
      -webkit-animation: moveFromTopFadeMonth .4s ease-out;
      -moz-animation: moveFromTopFadeMonth .4s ease-out;
      animation: moveFromTopFadeMonth .4s ease-out;
      opacity: 1;
    }
    
    #calendar .month.out.next {
      -webkit-animation: moveToTopFadeMonth .4s ease-in;
      -moz-animation: moveToTopFadeMonth .4s ease-in;
      animation: moveToTopFadeMonth .4s ease-in;
      opacity: 1;
    }
    
    #calendar .month.in.prev {
      -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
      -moz-animation: moveFromBottomFadeMonth .4s ease-out;
      animation: moveFromBottomFadeMonth .4s ease-out;
      opacity: 1;
    }
    
    #calendar .month.out.prev {
      -webkit-animation: moveToBottomFadeMonth .4s ease-in;
      -moz-animation: moveToBottomFadeMonth .4s ease-in;
      animation: moveToBottomFadeMonth .4s ease-in;
      opacity: 1;
    }
    
    #calendar .week {
     background: #ececd4;
    }
    
    #calendar .day {
      display: inline-block;
      width: 60px;
      padding: 10px;
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      background: #f3f3eb;
      position: relative;
      z-index: 100;
    }
    
    #calendar .day.other {
     color: rgb(192, 192, 192);
    }
    
    #calendar .day.today {
      color: rgba(156, 202, 235, 1);
    }
    
    #calendar .day-name {
      font-size: 9px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: rgb(38, 63, 66);
      letter-spacing: .7px;
    }
    
    #calendar .day-number {
      font-size: 24px;
      letter-spacing: 1.5px;
    }
    
    
    #calendar .day .day-events {
      list-style: none;
      margin-top: 3px;
      text-align: center;
      height: 12px;
      line-height: 6px;
      overflow: hidden;
    }
    
    #calendar .day .day-events span {
      vertical-align: top;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 5px;
      height: 5px;
      line-height: 5px;
      margin: 0 1px;
    }
    
    #calendar .blue { background: rgba(156, 202, 235, 1); }
    #calendar .orange { background: rgba(247, 167, 0, 1); }
    #calendar .green { background: rgba(153, 198, 109, 1); }
    #calendar .yellow { background: rgb(249, 0, 166); }
    #calendar .purple { background:  rgb(76, 0, 255); }
    
    #calendar .details {
      position: relative;
      width: 420px;
      height: 75px;
      background: rgba(164, 164, 164, 1);
      margin-top: 5px;
      border-radius: 4px;
    }
    
    #calendar .details.in {
      -webkit-animation: moveFromTopFade .5s ease both;
      -moz-animation: moveFromTopFade .5s ease both;
      animation: moveFromTopFade .5s ease both;
    }
    
    #calendar .details.out {
      -webkit-animation: moveToTopFade .5s ease both;
      -moz-animation: moveToTopFade .5s ease both;
      animation: moveToTopFade .5s ease both;
    }
    
    #calendar .arrow {
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -2px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
      transition: all 0.7s ease;
    }
    
    #calendar .events {
      height: 75px;
      padding: 7px 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
    
    #calendar .events.in {
      -webkit-animation: fadeIn .3s ease both;
      -moz-animation: fadeIn .3s ease both;
      animation: fadeIn .3s ease both;
    }
    
    #calendar .events.in {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s;
      animation-delay: .3s;
    }
    
    #calendar .details.out .events {
      -webkit-animation: fadeOutShrink .4s ease both;
      -moz-animation: fadeOutShink .4s ease both;
      animation: fadeOutShink .4s ease both;
    }
    
    #calendar .events.out {
      -webkit-animation: fadeOut .3s ease both;
      -moz-animation: fadeOut .3s ease both;
      animation: fadeOut .3s ease both;
    }
    
    #calendar .event {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: .5px;
      padding: 2px 16px;
      vertical-align: top;
    }
    
    #calendar .event.empty {
      color: #eeeeee;
    }
    
    #calendar .event-category {
      height: 10px;
      width: 10px;
      display: inline-block;
      margin: 6px 0 0;
      vertical-align: top;
    }
    
    #calendar .event span {
      display: inline-block;
      padding: 0 0 0 7px;
    }
    
    #calendar .legend {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      background: rgb(233, 230, 212);
      line-height: 30px;
    
    }
    
    #calendar .entry {
      position: relative;
      padding: 0 0 0 25px;
      font-size: 13px;
      display: inline-block;
      line-height: 30px;
      background: transparent;
    }
    
    #calendar .entry:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 5px;
      top: 12px;
      left: 14px;
    }
    
    #calendar .entry.blue:after { background: rgba(156, 202, 235, 1); }
    #calendar .entry.orange:after { background: rgba(247, 167, 0, 1); }
    #calendar .entry.green:after { background: rgba(153, 198, 109, 1); }
    #calendar .entry.yellow:after { background:  rgb(249, 0, 166); }
    #calendar .entry.purple:after { background:  rgb(76, 0, 255); }
    
    /* Animations are cool!  */
    @-webkit-keyframes moveFromTopFade {
      from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveFromTopFade {
      from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveFromTopFade {
      from { height:0px; margin-top:0px; transform: translateY(-100%); }
    }
    
    @-webkit-keyframes moveToTopFade {
      to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveToTopFade {
      to { height:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveToTopFade {
      to { height:0px; transform: translateY(-100%); }
    }
    
    @-webkit-keyframes moveToTopFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveToTopFadeMonth {
      to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    @keyframes moveToTopFadeMonth {
      to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    
    @-webkit-keyframes moveFromTopFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveFromTopFadeMonth {
      from { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveFromTopFadeMonth {
      from { opacity: 0; -moz-transform: translateY(30%); }
    }
    
    @-webkit-keyframes moveToBottomFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveToBottomFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(30%); }
    }
    @keyframes moveToBottomFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(30%); }
    }
    
    @-webkit-keyframes moveFromBottomFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveFromBottomFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(-30%); }
    }
    @keyframes moveFromBottomFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(-30%); }
    }
    
    @-webkit-keyframes fadeIn  {
      from { opacity: 0; }
    }
    @-moz-keyframes fadeIn  {
      from { opacity: 0; }
    }
    @keyframes fadeIn  {
      from { opacity: 0; }
    }
    
    @-webkit-keyframes fadeOut  {
      to { opacity: 0; }
    }
    @-moz-keyframes fadeOut  {
      to { opacity: 0; }
    }
    @keyframes fadeOut  {
      to { opacity: 0; }
    }
    
    @-webkit-keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    @-moz-keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    @keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }





  .MusicButton {
      padding: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
      width: 40px;
      height: 40px;
      float: left;
  }
  #audio-player-container {
    --seek-before-width: 0%;
      --volume-before-width: 100%;
      --buffered-width: 0%;
      position: relative;
      margin: 100px 2.5% auto 2.5%;
      width: 95%;
      max-width: 500px;
      height: 132px;
      background: #fff;
  }
  #audio-player-container::before {
      position: absolute;
      content: '';
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      left: -2px;
      top: -2px;
      background: linear-gradient(to left, #007db5, #ff8a00);
      z-index: -1;
  }

  #play-icon {
      margin: 20px 2.5% 10px 2.5%;
  }
  path {
      stroke: #007db5;
  }
  .time {
      display: inline-block;
      width: 37px;
      text-align: center;
      font-size: 20px;
      margin: 28.5px 0 18.5px 0;
      float: left;
  }
  output {
      display: inline-block;
      width: 32px;
      text-align: center;
      font-size: 20px;
      margin: 10px 2.5% 0 5%;
      float: left;
      clear: left;
  }
  #volume-slider {
      margin: 10px 2.5%;
      width: 58%;
  }
  #volume-slider::-webkit-slider-runnable-track {
      background: rgba(0, 125, 181, 0.6);
  }
  #volume-slider::-moz-range-track {
      background: rgba(0, 125, 181, 0.6);
  }
  #volume-slider::-ms-fill-upper {
      background: rgba(0, 125, 181, 0.6);
  }
  #volume-slider::before {
      width: var(--volume-before-width);
  }
  #mute-icon {
      margin: 0 2.5%;
  }
  input[type="range"] {
      position: relative;
      -webkit-appearance: none;
      width: 48%;
      margin: 0;
      padding: 0;
      height: 19px;
      margin: 30px 2.5% 20px 2.5%;
      float: left;
      outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 0;
      width: var(--seek-before-width);
      height: 3px;
      background-color: #007db5;
      cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      box-sizing: content-box;
      border: 1px solid #007db5;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      margin: -7px 0 0 0;
  }
  input[type="range"]:active::-webkit-slider-thumb {
      transform: scale(1.2);
      background: #007db5;
  }
  input[type="range"]::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::-moz-range-progress {
      background-color: #007db5;
  }
  input[type="range"]::-moz-focus-outer {
      border: 0;
  }
  input[type="range"]::-moz-range-thumb {
      box-sizing: content-box;
      border: 1px solid #007db5;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
  }
  input[type="range"]:active::-moz-range-thumb {
      transform: scale(1.2);
      background: #007db5;
  }
  input[type="range"]::-ms-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: transparent;
      border: solid transparent;
      color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
      background-color: #007db5;
  }
  input[type="range"]::-ms-fill-upper {
      background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::-ms-thumb {
      box-sizing: content-box;
      border: 1px solid #007db5;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
  }
  input[type="range"]:active::-ms-thumb {
      transform: scale(1.2);
      background: #007db5;
  }


  .audio-player {
    height: 50px;
    width: 350px;
    background: #444;
    box-shadow: 0 0 20px 0 #000a;
  
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
  
    display: grid;
    grid-template-rows: 6px auto;
    .timeline {
      background: white;
      width: 100%;
      position: relative;
      cursor: pointer;
      box-shadow: 0 2px 10px 0 #0008;
      .progress {
        background: coral;
        width: 0%;
        height: 100%;
        transition: 0.25s;
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 20px;
  
      > * {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .toggle-play {
        &.play {
          cursor: pointer;
          position: relative;
          left: 0;
          height: 0;
          width: 0;
          border: 7px solid #0000;
          border-left: 13px solid white;
          &:hover {
            transform: scale(1.1);
          }
        }
        &.pause {
          height: 15px;
          width: 20px;
          cursor: pointer;
          position: relative;
          &:before {
            position: absolute;
            top: 0;
            left: 0px;
            background: white;
            content: "";
            height: 15px;
            width: 3px;
          }
          &:after {
            position: absolute;
            top: 0;
            right: 8px;
            background: white;
            content: "";
            height: 15px;
            width: 3px;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .time {
        display: flex;
  
        > * {
          padding: 2px;
        }
      }
      .volume-container {
        cursor: pointer;
        .volume-button {
          height: 26px;
          display: flex;
          align-items: center;
          .volume {
            transform: scale(0.7);
          }
        }
        
        position: relative;
        z-index: 2;
        .volume-slider {
          position: absolute;
          left: -3px; top: 15px;
          z-index: -1;
          width: 0;
          height: 15px;
          background: white;
          box-shadow: 0 0 20px #000a;
          transition: .25s;
          .volume-percentage {
            background: coral;
            height: 100%;
            width: 75%;
          }
        }
        &:hover {
          .volume-slider {
            left: -123px;
            width: 120px;
          }
        }
      }
    }
  }